@charset "utf-8";

/*  인트로 영상 서식 */

header {
  width: 100vw; height: 100vh;
  overflow: hidden;
  /* display:none; */
}

.info {
  color: white;
  font:1em/1 Rubik+Glitch;
  text-align: center;

}

.info a{
  color: white;
}

.open_img {
  width: 100%;height: 100vh;
  position: absolute; top: 0;
  z-index: 10;
}

.open_video {
  width: 500px;
  position: absolute; top: 556px; left: 672px;
  z-index: 9;
}
  /* 큰 타이틀 효과 */
#Ebene_1{
  width: 480px;
  height: 215px;
  display: block;
  position: absolute; left: 750px; top: 560px;
  z-index: 9;
  overflow: hidden; 
  margin: 0 auto;
  background: black;
}

text {
filter: url(#filter);
fill: white;
font-family: 'Rubik Glitch';
font-size: 100px;
text-align: center;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

    /* 세부 타이틀 효과 */
.title span, .title h1, #timer, .moving-outline{
  position: absolute;
}

.title span {
  left: 150px; top: 50px;
  z-index: 100;
  font-family: PFStardust;
  font-size: 30px;
}

/* 네비게이션 서식*/
.gnb {
  position: fixed;
  top: 50%; left: 10px;
  transform: translateY(-50%);
  z-index: 9999;
}
.gnb> ul {}
.gnb> ul> li {
  line-height: 40px;
  border-bottom: 2px solid linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 50%, rgba(0,0,0,1) 100%);
  position: relative;
  transition: 0.5s;
}
.gnb> ul> li::after {
  display: block;
  content: '';
  width: 0px; height: 0px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 50%, rgba(0,0,0,1) 100%);
  transition: all 1s;
}
.gnb> ul> li> a:visited .gnb> ul> li::after {
  animation: line 0.3s forwards;
}
@keyframes line {
  0% {}
  100% {width: 100%; height: 2px;}
}
.gnb> ul> li> a {
  display: block;
  font-size: 16px;
  text-align: right;
}
.gnb> ul> li:hover::after{
  width: 100%; height: 2px;
}
.gnb span {
  display: block;
  position: absolute; top: -500px; left: 120px;
  width: 1px; height: 1200px;
  background: rgba(255, 255, 255, 0.5);
}

.gnb> ul> li> a img {
  display: none;
  position: absolute; right: -30px; top: 0;
  width: 30px;
  transform-origin: 50% 50%;
  animation: lp 4s linear infinite;
}




/* 메인의 wrapper  공통 서식 */
.profile_wrapper {
  width: 1300px; height: 800px;
  margin: 100px auto;
  /* border: 1px solid #ff0; */
}
.publishing_wrapper, .design_wrapper, .work_wrapper, .contact_wrapper {
  width: 1300px; height: 800px;
  margin: 0 auto;
  padding-top: 100px;
  /* border: 1px solid #ff0; */
}

/* 모달 서식 */
.modal {
  position: fixed; left: 50%; top: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
}
.modal img {display: block;}
.modal p {
  background: #242424;
  line-height: 40px;
  padding: 0px 5px;
  font-size: 12px;
}
#ch {
  display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
  padding-top: 4px;
  position: relative;
  left:2px; top: 3px;
}
#c_btn {
  width: 80px;
  float: right;
	border: 2px solid #bcbcbc;
  padding: 2px 5px;
  background: #fff;
  position: absolute;
  right: 10px; bottom: 7px;
  font-size: 12px;
  /* border-radius: 3px; */
}