@charset "utf-8";

/* 프로필  서식*/
.profile  {
  position: relative;
  display:none;
}

    /* 프로필 - 이미지 */

.profile_photo {
  width: 650px;
  height: 700px;
  position: absolute;
  right: 0;
  top: 0px;
  filter: grayscale(0.7);
}
.profile_photo:hover {
  filter: grayscale(0);
  
}
.profile_photo:hover .face {z-index: 2;}

.profile_photo> img{
  position: absolute; right: 250px; top: 30%;
  /* transform: translateY(-50%); */
  width: 300px;
  transition: 1s;
}


/* .profile_photo img:first-child:hover {z-index: 5;}
.profile_photo img:nth-child(2):hover {z-index: 6;}
.profile_photo img:nth-child(3):hover {z-index: 4;}
.profile_photo img:nth-child(4):hover {z-index: 3;}
.profile_photo img:last-child:hover {z-index: 2;} */

/* .on {transform:rotate(25deg) !important;} */

    /* 프로필 - 텍스트 */
.profile_wrapper> p {
  transform: translateY(-16px);
}
.underline {
  display: block; 
  width: 0px; height: 16px;
  background: rgba(255,0,0,0.3);
}
.line01 {
  animation: under 1s forwards;
  animation-delay: 1s;
}
@keyframes under {
  100% {width: 400px;}
}
.profile_txt {
  position: relative;
  top: 30px;
}
.profile_txt ul {}
.profile_txt ul li {
  font-size: 18px;
  line-height: 70px;
  vertical-align: middle;
}

.profile_txt ul> li:first-child {}
.profile_txt ul> li:nth-child(2) {transform: translateY(0px);}
.profile_txt ul> li:nth-child(3) {transform: translateY(-8px);}
.profile_txt ul> li:nth-child(4) {transform: translateY(73px);}
.profile_txt ul> li:last-child {transform: translateY(102px);}

.profile_txt ul> li::after {
  display: inline-block;
  content: '';
  background: rgba(255,255,255,0.7);
  margin-bottom: 10px;
  margin-left: 20px;
}
.profile_txt ul> li:first-child:after {width: 763px; height: 1px;}
.profile_txt ul> li:nth-child(2):after {width: 716px; height: 1px;}
.profile_txt ul> li:nth-child(3):after {width: 390px; height: 1px;}
.profile_txt ul> li:nth-child(4):after {width: 717px; height: 1px;}
.profile_txt ul> li:last-child:after {width: 825px; height: 1px;}


.edu_txt, .certi_txt, .name_txt {
  font-size: 16px;
  position: absolute;
  color: rgba(255,255,255,0.7);
}
.edu_txt p, .certi_txt p, .name_txt p {padding: 5px;}

.name_txt {top: 48px; left: 142px;}
.edu_txt {top: 186px; left: 446px;}
.certi_txt {top: 327px; left: 130px;}


    /*프로필 - 스킬 */
.chartBars {
  position: relative;
  top: 200px;
  max-width: 600px;
  height: 140px;
  margin-left: 100px;
}
.chartBars .bars {
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    width: 800px;
    height: 100%;
    padding: 0;
    padding: 0 1%;
    margin: 0;
}
.chartBars .bars li {
    display: inline-block;
    flex: 0 1 24%;
    height: 100%;
    margin: 0;
    text-align: center;
    position: relative;
    font-size: 16px;
}
.chartBars .bars li .bar {
    width: 25px;
    /* background: #49E; */
    position: absolute;
    left: 35px;
    font-size: 12px;
    color: #fff;
    padding-top: 18px;
    bottom: 0;
    height: 0;
    overflow: hidden;
    font-weight: bold;
    outline: 2px solid transparent;
    -webkit-transition: 1.5s height cubic-bezier(.6,.4,.4,1.1);
    transition: 1.5s height cubic-bezier(.6,.4,.4,1.1);
}
.chartBars .bars li .bar:after {
    content: '%';
    vertical-align: top;
    color: rgba(255,255,255,0.8);
}
.chartBars .bars li b {
    color: #eee;
    width: 100%;
    position: absolute;
    bottom: -2em;
    left: 0;
    text-align: center;
}
.chartBars .numbers {
    width: 50px;
    height: 100%;
    margin: 0;
    padding: 0; 
    display: inline-block;
    position: absolute;
    left: -50px;
}
.chartBars .numbers li {
    text-align: right;
    padding-right: 1em;
    list-style: none;
    height: 59px;
    position: relative;
    font-size: 13px;
    bottom: 11px;
    right: -9px;
    color: #eee;
}
.chartBars .numbers li:after {
    content: "\00af";
    position: relative;
    right: -1px;
    font-size: 20px;
    top: 13px;
    color: rgba(255,255,255,0.34);
}
.chartBars .numbers li:first-of-type {
    height: 63px;
    margin-top: -1px;
}
.chartBars2 {
    max-width: 350px;
}
.chartBars2 .bars {
    padding: 0;
}
.chartBars2 .bars li {
    flex: 0 1 25%;
}
.chartBars2 .bars li .bar {
    background: rgb(122,122,122);
    background: linear-gradient(0deg, rgb(53, 53, 53) 0%, rgb(94, 94, 94) 100%);
}

/* 퍼플리싱 서식 */
.publishing_wrapper {
  position: relative;
}
    /* 퍼블리싱 - 제목 */
.publishing_wrapper> h2 {
  /* margin-top: 50px; */
}
.publishing_wrapper> p {
  transform: translateY(-17px);
}
.pub_tag, .pub_hover {
  position: absolute; bottom: 0px; right: 0;
}
.pub_tag {z-index: 2;}
.pub_hover {z-index: 1;}
.pub_tag img, .pub_hover img {
  width: 90px;
  transition: 0.5s;
}

.pub_tag img:first-child:hover {margin-bottom: 50px;}
.pub_tag img:nth-child(2):hover {margin-bottom: 50px;}
.pub_tag img:last-child:hover {margin-bottom: 50px;}

.pub_tag_on {margin-bottom: 50px;}

.pub_photo .video {
  position: absolute; bottom: -50px; left: -42px;
  z-index: 2;

}
.pub_photo .video a {
  display: block;
  width: 550px;
  height: 330px;
}
.pub_photo .video img {
  width: 100%;
  filter: grayscale(1);
}
.pub_photo .video img:hover{
  filter: grayscale(0);
}
.pub_photo .video img:first-child {
  transform: translateY(-42px);
}
.pub_photo img {
  display: block;
  width: 450px;
}

    /*퍼블리싱 - 무한슬라이드*/

.pub_photo .film {
  width: 606px;
  overflow: hidden;
}

.pub_photo .film ul {
  margin-left:-202px;
  transition: 0.1s;
}
.pub_photo .film img {
  display: block;
  width: 202px;
  filter: grayscale(1);
}
.pub_photo .film img:hover {
  filter: grayscale(0);
}

.film01 {transform: translate(424px, 113px);}
.film02 {transform: translate(424px, 252px);}
.film03 {transform: translate(424px, 113px);}
.film04 {transform: translate(424px, 252px);}
.film05 {transform: translate(424px, 113px);}
.film06 {transform: translate(424px, 252px);}

    /* 퍼플리싱 - 이미지 마스크 */
.camera {
  width: 100vw; height: 100px;
  background-image: url(../images/camera.png);
  background-size: 100% 100% contain;
  font-size: 80px;
  color: #000;
  transform: translateY(52px);
}
.camera> ul {
  width: 318%; height: 100%;
  line-height: 100%;
  mix-blend-mode: darken;
  color: #fff;
  background: #000;
}
.camera> ul> li {
  animation: move 20000ms linear infinite;
}

@keyframes move {
  0% {  
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

/* 디자인 서식 */

main .design {overflow: hidden;}
main .design_wrapper {position: relative;}
.design_caption> ul> li {
  position: absolute; left: 162px; top: 303px;
  font-size: 30px;
}

.design_wrapper> article {
  position: absolute; left: 10px; top: 265px;
}
.design_wrapper> article> img {
  width: 90px; height: 80px;
}
.sportright {
  width: 0px; height: 100px;
  background-image: url(../images/sportright.png);
  background-repeat: no-repeat;
}

    /* 디자인 - 설명 */
.design_txt {
  /* border: 1px solid #fff; */
  width: 371px; height: 650px;
}
.design_txt> div {
  border-bottom: 1px solid rgba(255,255,255,0.7);
  height: calc(100% / 3);
}

    /* 디자인 - 설명: 소개, 목적 */

.expand> li {position: absolute;} 

.design_txt {
  position: absolute;
  left: 692px; top: 270px;
}
.explan01> p> strong {
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}
.ex01> p:first-child strong::after {
  display: block;
  content: '';
  width: 241px; height: 10px;
  background: rgba(255,0,0,0.3);
  position: absolute; top: 25px; left: 18px;
}
.ex01> p:last-child strong::after {
  display: block;
  content: '';
  width: 230px; height: 10px;
  background: rgba(255,0,0,0.3);
  position: absolute; top: 103px; left: 18px;
}
.ex02> p:first-child strong::after {
  display: block;
  content: '';
  width: 245px; height: 10px;
  background: rgba(255,0,0,0.3);
  position: absolute; top: 25px; left: 18px;
}
.ex02> p:last-child strong::after {
  display: block;
  content: '';
  width: 261px; height: 10px;
  background: rgba(255,0,0,0.3);
  position: absolute; top: 104px; left: 18px;
}
.ex03> p:first-child strong::after {
  display: block;
  content: '';
  width: 245px; height: 10px;
  background: rgba(255,0,0,0.3);
  position: absolute; top: 25px; left: 18px;
}
.ex03> p:last-child strong::after {
  display: block;
  content: '';
  width: 276px; height: 10px;
  background: rgba(255,0,0,0.3);
  position: absolute; top: 86px; left: 18px;
}
.ex04> p:first-child strong::after {
  display: block;
  content: '';
  width: 312px; height: 10px;
  background: rgba(255,0,0,0.3);
  position: absolute; top: 25px; left: 18px;
}
.ex04> p:last-child strong::after {
  display: block;
  content: '';
  width: 300px; height: 10px;
  background: rgba(255,0,0,0.3);
  position: absolute; top: 86px; left: 18px;
}



.explan01> p {
  line-height: 20px;
}
.expand {height: 205px;}



    /* 디자인 - 설명: 컬러컨셉 */

.col {position: absolute;}

.explan02 h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}
.explan02 p {
  text-indent: 15px;
  padding: 5px;
}
.explan02 ul{
  justify-content: space-around;
}
.explan02 ul> li {
  padding: 10px;
  text-align: center;
}
.explan02 ul> li> span {
  display: block;
  width: 70px; height: 80px;
  background: #eee;
}
    /* 시장하시죠 */
.explan02 ul> li:first-child> span {
  background: #492B23;
}
.explan02 ul> li:nth-child(2)> span {
  background: #D4E8E6;
}
.explan02 ul> li:last-child> span {
  background: #FEF9F3; 
}
.explan02 ul> li strong {
  display: block;
  text-align: center;
  padding: 10px 0 5px 0;
}
    /* 뮤지엄고 */
.col02 ul> li:first-child> span{
  background: #B3A48F;
}
.col02 ul> li:nth-child(2)> span{
  background: #361B00;
}
.col02 ul> li:last-child> span{
  background: #F9F9F9;
}
    /* 판다월드 */
.col03 ul> li:first-child> span{
  background: #ACC691;
}
.col03 ul> li:nth-child(2)> span{
  background: #FAE7EC;
}
.col03 ul> li:last-child> span{
  background: #FBFAEF;
}
    /* 오키친 */
.col04 ul> li:first-child> span{
  background: #CE010E;
}
.col04 ul> li:nth-child(2)> span{
  background: #FDF100;
}
.col04 ul> li:nth-child(3)> span{
  background: #2E5902;
}
.col04 ul> li:last-child> span{
  background: #FFFDE4;
}


    /* 디자인 - 설명: 사용툴 */

.explan03> article p {
  text-indent: 15px;
  padding: 5px;
  padding-bottom: 15px;
}
.explan03> article> ul {
  justify-content: space-around;
  align-items: center;
}
.explan03> article> ul li {
  align-items: center;
  flex-direction: column;
  gap: 15px;
}   
.explan03> article> ul> li img {
  width: 40px;
}
.explan03> article> ul> li span {
  display: block;
  text-align: center;
}

    /* 디자인 - 포토(큰 목업) */

.design_photo {
  width: 675px;
  height: 645px;
  /* border: 1px solid #f00; */
  transform: translateY(56px);
  overflow: hidden;

}
.design_photo> ul> li {
  position: absolute; bottom: -200px;
  filter: grayscale(1);
  transition: 0.5s;
}
.design_photo> ul> li:hover {
  bottom: 0;
  filter: grayscale(0);
}
.design_photo> ul> li:first-child {
  z-index: 2;
}
.design_photo> ul> li img {
  width: 675px;
}

    /* 디자인 - 필름 */


.des_film01 {position:absolute; top:0px;}
.des_film02 {position:absolute; bottom:0px;}

.design_film > ul:first-child {right: 20px;}
.design_film > ul:last-child {right:-190px;}
.design_film > ul > li {
  filter: grayscale(1)
}
.design_film > ul > li:hover {
  filter: grayscale(0);
}
.design_film > ul > li img {
  display: block;
  height: 230px;
}


/* 기타 작업물 서식 */
/* main .work {background: paleturquoise; } */


/* 연락처 서식 */
main .contact {position: relative;}

    /* 연락처 - 폼 */

form {
  width: 900px; height: 400px;
  background-image: url(../images/Frame80.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; bottom: -2%; left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
fieldset {
  padding-top: 45px;
}
fieldset legend {
  text-align: center;
  color: #333;
  font-size: 30px;
  font-family: "glitch";
  padding-top: 42px;
}
fieldset p {
  padding: 3px 65px;
}
input {
  width: 200px; height: 23px;
  border: none;
}
textarea {
  width: 400px; height: 57px;
  border: none;
}

    /* 연락처 - lp */
.lp img {transition: 1s;}
.lp img:first-child {
  width: 800px;
  position: absolute; left: 29%; top: 30%;
  z-index: 1;
  transform-origin: 50% 50%;
  animation: lp 6s linear infinite;
}
.lp img:last-child {
  width: 800px;
  position: absolute; left: 29%; top: 30%;
  filter: grayscale(1);
  z-index: 2;
}

@keyframes lp {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}


